<banner-content [data]="data"></banner-content>

<div class="container lg:max-w-[1080px] mx-auto p-2 lg:my-16 my-6">
  <div class="bg-purple-600 py-10">
    <div class="px-4 grid grid-cols-1 md:grid-cols-3 gap-8 text-white">
      <div class="text-center md:border-r border-white">
        <div class="inner-box">
          <i class="fas fa-phone-alt fa-phone bg-icon"></i>
          <i class="fas fa-phone-alt fa-phone icon-box"></i>
        </div>
        <p class="text-2xl font-semibold mb-2">Phone Number</p>
        <div *ngFor="let phoneNumber of contactInfo.contactNumber">
          <p>{{ phoneNumber }}</p>
        </div>
      </div>
      <div class="text-center md:border-r border-white">
        <div class="inner-box">
          <i class="fas fa-envelope bg-icon"></i>
          <i class="fas fa-envelope icon-box"></i>
        </div>
        <p class="text-2xl font-bold mb-2">Email Address</p>
        <a [href]="'mailto:' + contactInfo.email" class="hover:underline">
          {{ contactInfo.email }}
        </a>
      </div>
      <div class="text-center">
        <div class="inner-box">
          <i class="fa-solid fa-location-dot bg-icon"></i>
          <i class="fa-solid fa-location-dot icon-box"></i>
        </div>
        <p class="text-2xl font-bold mb-2">Office Address</p>
        <div *ngFor="let line of contactInfo.address">
          <p>{{ line }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-form></app-form>
