.animation-container {
  width: 100%;
  display: flex;
  gap: 16px;
  padding: 5px;
}
.bg-style {
  background-image: url(../../../assets/images/bg-icon-1.png);
  background-size: cover;
  background-position: right;
  animation: moveBackground 1s linear infinite;
}
@keyframes moveBackground {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.main-block {
  width: 100%;

  transition: width 2s ease;
}

.content-block {
  display: none;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1.5s ease, opacity 1.5s ease;
}

.scrolled .main-block {
  width: 50%;
}

.scrolled .content-block {
  display: block;
  transform: translateY(0);
  opacity: 1;
}
@keyframes animate-border {
  0% {
    filter: drop-shadow(2px 0 0 red);
  }
  25% {
    filter: drop-shadow(3px 0 0 yellow);
  }
  50% {
    filter: drop-shadow(4px 0 0 blue);
  }
  75% {
    filter: drop-shadow(5px 0 0 green);
  }
  100% {
    filter: drop-shadow(6px 0 0 #9333ea);
  }
}

@keyframes clippath {
  0%,
  100% {
    clip-path: inset(0 0 95% 0);
  }
  25% {
    clip-path: inset(0 95% 0 0);
  }
  50% {
    clip-path: inset(95% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 95%);
  }
}
.stroke {
  animation: animate-border 10s infinite linear;
}

.bg-gray-50 .container {
  background-image: url("../../../assets/images/11-removebg.png");
  background-size: 100% 73%;
  background-position: right bottom;
  height: 200px;
  background-repeat: no-repeat;
  animation: moveBackground 10s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}
