<div class=" mb-8 my-4">
    <h1 class="text1  " style="margin: 0;">{{category.Label}}</h1>
    <span class=" font-thin " >{{category.subtitle}}</span>
    <div class="grid lg:grid-cols-6 grid-cols-4 md:gap-x-16 md:gap-y-12 gap-y-4 gap-x-8 box-border mt-3">
        <div class="flex flex-col items-center" *ngFor="let item of category.fields">
            <img [src]="item.image" alt="" class="lg:w-32 lg:h-32 w-20 h-20">
            <span class="text-center">{{item.name}}</span>
        </div>   
    </div>
</div>
