<banner-content></banner-content>
<div class="container card-item lg:max-w-[1080px] md:mx-auto lg:p-0 p-2 my-4">
  <div class="flex flex-col md:flex-row items-center lg:gap-x-8 gap-y-8">
    <!-- Image Section -->
    <img
      src="https://www.licious.in/_next/image?url=https%3A%2F%2Fassets.licious.in%2FOMS-ProductMerchantdising%2F61007cf4-09dc-11f3-a4c3-95bc8e43769c%2Foriginal%2F1703871472782.jpg&w=384&q=75"
      alt="Delicious Meat Platter"
      class="w-full md:w-64 rounded-md shadow-md"
    />

    <!-- Text Content Section -->
    <div class=" tracking-[1.5px] text-justify ">
      <p class="text-gray-600 mb-4 text-xl tracking-[1.5px]">
        Welcome to Mr. Meat, where quality meets tradition! At Mr. Meat, we take
        pride in delivering the finest cuts of meat, sourced responsibly and
        crafted with care. Our commitment to excellence drives us to provide our
        customers with premium, fresh, and flavorful meats that make every meal
        a culinary experience.
      </p>
    </div>
  </div>
  <div class="mt-8 mb-4 tracking-[1.5px]">
    <p class="text-4xl font-semibold text-purple-700 mb-2">Our Story</p>
    <p class="text-xl text-gray-600 text-justify  tracking-[1.5px]">
      Founded by a team of meat enthusiasts, Mr. Meat was born out of a passion
      for great food and a desire to bring the best products directly to your
      table. We believe that good food starts with great ingredients, and
      nothing is more fundamental than the meat you serve your family and
      friends. With this in mind, we meticulously select our suppliers, ensuring
      that every cut we offer meets the highest standards of quality, taste, and
      sustainability.
    </p>
  </div>
  <div class="mt-8 mb-4 tracking-[1.5px] text-justify ">
    <p class="text-4xl font-semibold text-purple-700 mb-2">What We Offer</p>
    <p class="text-xl text-gray-600">
      From succulent steaks and tender roasts to artisanal sausages and
      specialty cuts, our wide range of products caters to all tastes and
      occasions. Whether you’re preparing a weekday dinner or hosting a weekend
      barbecue, you can trust Mr. Meat to provide the perfect selection for your
      needs. Our meats are carefully processed and packed to preserve freshness
      and enhance flavor, so you can enjoy the best taste every time.
    </p>
  </div>
</div>
