.custom-card {
  overflow: hidden;
  transition: width 1s ease-in-out;
  width: 180px;
  margin: 15px 0px;
  background-color: #d8a25e;
  color: #fff;
}

.custom-card .text-container {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.custom-card.expanded {
  width: 100%;
}

.custom-card.expanded .text-container {
  display: block;
  opacity: 1;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInFromLeft 1.2s ease-out forwards;
  opacity: 0;
}
