<footer class="bg-gray-700 text-white py-8 ">
    <div class="container lg:max-w-[1081px] mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-wrap justify-between">
        <!-- Contact Information -->
        <div class="w-full sm:w-1/2 lg:w-1/4 mb-6">
          <h4 class="text-xl font-semibold mb-4">Contact Us</h4>
          <p>
            <i class="fas fa-map-marker-alt mr-2"></i>
            123 Meat Street, BBQ City, ME 54321
          </p>
          <p>
            <i class="fas fa-phone-alt mr-2"></i>
            +1 234 567 890
          </p>
          <p>
            <i class="fas fa-envelope mr-2"></i>
            <!-- support@meatapp.com -->
          </p>
        </div>
  
        <!-- Quick Links -->
        <div class="w-full sm:w-1/2 lg:w-1/4 mb-6">
          <h4 class="text-xl font-semibold mb-4">Quick Links</h4>
          <ul>
            <li class="mb-2"><a routerLink="home" class="hover:underline">Home</a></li>
            <li class="mb-2"><a routerLink="about-us" class="hover:underline">About Us</a></li>
            <!-- <li class="mb-2"><a  class="hover:underline">Products</a></li> -->
            <li class="mb-2"><a  class="hover:underline">Contact Us</a></li>
          </ul>
        </div>
  
        <!-- Social Media -->
        <div class="w-full sm:w-1/2 lg:w-1/4 mb-6">
          <h4 class="text-xl font-semibold mb-4">Follow Us</h4>
          <div class="flex space-x-4">
            <a  class="hover:text-gray-400"><i class="fab fa-facebook-f"></i></a>
            <a  class="hover:text-gray-400"><i class="fab fa-twitter"></i></a>
            <a  class="hover:text-gray-400"><i class="fab fa-instagram"></i></a>
            <a  class="hover:text-gray-400"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="border-t border-gray-700 mt-8 pt-4">
      <div class="container mx-auto px-4 sm:px-6 lg:px-8 text-center">
        <p class="text-sm">&copy; 2024 MeatApp. All rights reserved.</p>
      </div>
    </div>
  </footer>
  
  