<footer class="bg-gray-700 text-white py-8">
  <div class="container lg:max-w-[1081px] mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap justify-center">
      <div class="w-full sm:w-1/2 lg:w-1/4 mb-6">
        <img src="../../../assets/images/playstore.png" />
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/4 mb-6 justify-center">
        <h4 class="text-xl font-semibold mb-4">Contact Us</h4>
        <div *ngFor="let phoneNumber of contactInfo.contactNumber">
          <p>{{ phoneNumber }}</p>
        </div>
        <a [href]="'mailto:' + contactInfo.email" class="hover:underline">
          {{ contactInfo.email }}
        </a>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/4 mb-6 justify-center">
        <h4 class="text-xl font-semibold mb-4">Quick Links</h4>
        <ul>
          <li class="mb-2">
            <a routerLink="home" class="hover:underline cursor-pointer">Home</a>
          </li>
          <li class="mb-2">
            <a routerLink="about-us" class="hover:underline cursor-pointer"
              >About Us</a
            >
          </li>
          <li class="mb-2">
            <a class="hover:underline cursor-pointer">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/4 mb-6 justify-center">
        <h4 class="text-xl font-semibold mb-4">Follow Us</h4>
        <div class="flex space-x-4">
          <a class="hover:text-gray-400 cursor-pointer"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="hover:text-gray-400 cursor-pointer"
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="hover:text-gray-400 cursor-pointer"
            ><i class="fab fa-instagram"></i
          ></a>
          <a class="hover:text-gray-400 cursor-pointer"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="border-t border-gray-700 mt-8 pt-4">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 text-center">
      <p class="text-sm">&copy; 2024 MeatApp. All rights reserved.</p>
    </div>
  </div>
</footer>
