@keyframes moveRotate {
  0% {
    transform: translateX(-100%) rotate(0deg);
  }
  50% {
    transform: translateX(50%) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

.animate-move-rotate {
  animation: moveRotate 3s ease-in-out forwards;
}

